<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ihxjie.mondayserver.api.mapper.AttendanceMapper">

    <select id="getVacationStudentId" resultType="com.ihxjie.mondayserver.api.entity.Vacation">
        SELECT v.user_id, v.vacation_id FROM attendance AS a, vacation AS v
        WHERE a.start_time > v.start_time
          AND a.end_time &lt; v.end_time
          AND a.attendance_id = #{attendanceId}
    </select>
</mapper>
