<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ihxjie.mondayserver.api.mapper.UserMapper">

    <select id="queryStudentByClazzId" resultType="com.ihxjie.mondayserver.api.entity.User">
        SELECT *
        FROM student_clazz as sc, `user` as u
        WHERE clazz_id = #{clazzId} AND sc.student_id = u.user_id
    </select>
</mapper>
